#signin {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 30%;
        }

        form {
            padding: 1rem;

            #error-alerter {
                color: $danger;
            }

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "button" "forgot";

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-remember {
                    grid-area: remember;
                }

                #form-button {
                    grid-area: button;
                }

                #form-forgot-password {
                    grid-area: forgot;
                    text-align: center;
                }

                .input-group {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "label span" "input input";

                    label {
                        grid-area: label;
                        margin-bottom: 0.5rem;
                    }

                    span {
                        grid-area: span;
                        text-align: right;
                        color: $danger;
                        margin-bottom: 0.5rem;
                    }

                    input {
                        grid-area: input;
                        padding: 1rem;
                        border: 1px solid $gray-600;
                        border-radius: 0.5rem;
                        background-color: $theme-opacity;
                    }
                }
            }
        }
    }
}
