<section class="apps">
    <div class="container">
        <img id="apps-image" src="/images/apps img.svg" alt="">
        <div class="content-right">
            <h1>Download Our app for Any Device:</h1>
            <div class="app-download">
                <div class="download-wrapper">
                    <div class="download-text">
                        <p class="store-name">App Store</p>
                        <div class="stars">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                        </div>
                        <p class="review-title">Editor's Choice</p>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <img src="/images/applestore.svg" alt="">
                </div>
                <div class="download-wrapper">
                    <div class="download-text">
                        <p class="store-name">App Store</p>
                        <div class="stars">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                        </div>
                        <p class="review-title">Editor's Choice</p>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <img src="/images/googleplay.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>