<section class="features">
    <div class="container">
        <h1>What do you get with our tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important tasks.</p>
        <div class="box-wrapper">
            <div class="box">
                <img src="images/commenticon.svg" alt="">
                <h5>Comment on Tasks</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quam.</p>
            </div>
            <div class="box">
                <img src="images/taskicon.svg" alt="">
                <h5>Task analytics</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ullam?</p>
            </div>
            <div class="box">
                <img src="images/multipleicon.svg" alt="">
                <h5>Multiple assignees</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, expedita?</p>
            </div>
            <div class="box">
                <img src="images/notificationicon.svg" alt="">
                <h5>Notifications</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quia.</p>
            </div>
            <div class="box">
                <img src="images/sectionicon.svg" alt="">
                <h5>Sections & Subtasks</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, quis.</p>
            </div>
            <div class=" box">
                <img src="images/datasecurityicon.svg" alt="">
                <h5>Data Security</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, ex.</p>
            </div>
        </div>
    </div>
</section>