<header>
    <div class="container">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/solid.svg" alt=""></a>

        <div id="menu">
            <nav>
                <a class="menu-link" href="#showcase">Overview</a>
                <a class="menu-link" href="#features">Features</a>
                <a class="menu-link" href="">Contact</a>
            </nav>
        </div>

        <div class="hide" id="mobile-menu">
            <div class="mobile-menu-top">
                <button class="btn-social" id="btn-mobile" onclick="showmenu()"><i id="mobile-menu-icon" class="fa-regular fa-xmark"></i></i></button>
            </div>

            <nav>
                <a class="menu-link" href="#showcase" onclick="showmenu()">Overview</a><br>
                <a class="menu-link" href="#features" onclick="showmenu()">Features</a><br>
                <a class="menu-link" href="">Contact</a>
            </nav>
            <div class="account-buttons-mobile">
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-light fa-arrow-right-to-bracket"></i><span>Sign In</span></a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-light fa-user"></i><span>Sign Up</span></a>
            </div>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-light fa-arrow-right-to-bracket"></i><span>Sign In</span></a>
            <a asp-controller="Auth" asp-action="Signup" class="btn-theme"><i class="fa-light fa-user"></i><span>Sign Up</span></a>
        </div>
        <button class="btn-social" id="btn-mobile" onclick="showmenu()"><i id="mobile-menu-icon" class="fa-regular fa-bars"></i></i></button>
    </div>
</header>