<section class="showcase">
    <div class="container">
        <div class="content-left">
            <h1 id="showcase-heading">Task Management Assistant You're Gonna Love</h1>
            <p class="standard-text">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <button class="btn-theme" id="showcase-btn"><span>Get started for free</span></button>
            <h6 id="showcase-subheading">Largest companies use our tool to work efficiently</h6>
            <div id="companies-wrapper">
                <a href=""><img src="/images/logoipsumone.svg" alt="Logipsum company logo"></a>
                <a href=""><img src="/images/logoipsumtwo.svg" alt="Logipsum company logo"></a>
                <a href=""><img src="/images/logoipsumthree.svg" alt="Logipsum company logo"></a>
                <a href=""><img src="/images/logoipsumfour.svg" alt="Logipsum company logo"></a>
            </div>
        </div>
    </div>
    <img id="showcase-img" src="images/showcaseimg.png" alt="">
</section>
