<section class="slider-section">
    <div class="dark-side"></div>
    <div class="container">
        <h1>Switch Between <span>Light & Dark Mode</span></h1>
        <div class="img-wrapper">
            <img src="/images/MacBook Pro-dark.svg" alt="">
            <img src="/images/MacBook Pro-light.svg" alt="" class="absolute">
        </div>
    </div>
</section>