@model IEnumerable<CourseEntity>

@{
    ViewData["Title"] = "Silicon, THE Task Manager";
}
<div id="showcase">
<partial name="~/Views/Shared/Sections/_ShowcasePartial.cshtml" />
</div>
<div id="features">
<partial name="~/Views/Shared/Sections/_FeaturesPartial.cshtml" />
</div>
<partial name="~/Views/Shared/Sections/_SliderPartial.cshtml" />
<partial name="~/Views/Shared/Sections/_ContentPartial.cshtml" />
<partial name="~/Views/Shared/Sections/_AppsPartial.cshtml" />

@foreach(var course in Model)
{
    <div>
        @course.Title
    </div>
}